.footer {
}

.links {
  display: flex;
  margin: 0 auto;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 45px 0;  
  max-width: 1200px;
}

.logo-link {
  max-width: 180px;
  max-height: 46px;
}

.link-list {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 1.17;
  color:  #21254280;
  
}

.link-list__item {
  margin-left: 64px;
}

.rigths {
  background-color: #F4F4F5;
  padding: 15px ;
  text-align: left;
  font-size: 12px;
  line-height: 1.3;
  color: #21254280;
  margin: 0 auto;
}