$desktop:1280px;
$tablets:768px; 
$phone:480px;

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $phone) {
    @content;
  }
}

